body{
    background-image: url(./images/no_planets.jpg);
    background-size: cover; /* o 'contain' según tu preferencia */
    background-repeat: no-repeat;
    background-attachment: fixed;
    align-items: center;
    justify-content: center;
}
.centerobjects{
    justify-content: center;
    align-items: center;
}
.princi{
    width: 100%;
  height: 100%;
}

.planet-button {
    background: none;
    border: none;
    padding: 40 px;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
}

.planet-container {
    display: flex;
    flex-direction: row;
    align-items: center;
   
}


.planet-img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
}

div {

    position: absolute;
    top:0;
    bottom: 0;
    left: 140px;
    right: 5px;
    
    margin-top: auto;
    margin-bottom: auto;
}
.planet-button:hover {
    transform: scale(1.2); /* Aumenta el tamaño del botón */
}

/* Estilo del texto (alt) encima del botón */
.planet-button:hover::before {
    content: attr(title); /* Muestra el contenido del atributo alt como texto */
    position: absolute;
    top: -30px; /* Ajusta la posición vertical del texto encima del botón */
    left: 50%; /* Centra el texto horizontalmente */
    transform: translateX(-50%); /* Centra el texto horizontalmente */
    color: white; /* Color del texto */
    padding: 5px 10px; /* Espaciado interior del texto */
    border-radius: 5px; /* Bordes redondeados del fondo del texto */
    font-size: 20px; /* Tamaño del texto */
}