<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://JAVA.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>nol2223</display-name>
  <welcome-file-list>
    <welcome-file>index</welcome-file>
    <welcome-file>/nol2223/index.java</welcome-file>
  </welcome-file-list>
  <security-constraint>
    <web-resource-collection>
      <url-pattern>/matricula</url-pattern>
      <url-pattern>/logout</url-pattern>
      <url-pattern>/log2</url-pattern>
      <http-method>GET</http-method>
      <http-method>POST</http-method>
    </web-resource-collection>
    <auth-constraint>
      <role-name>rolpro</role-name>
      <role-name>rolalu</role-name>
    </auth-constraint>
  </security-constraint>
  <security-constraint>
    <web-resource-collection>
      <url-pattern>/evaluacion</url-pattern>
      <url-pattern>/alumno</url-pattern>
      <http-method>GET</http-method>
      <http-method>POST</http-method>
    </web-resource-collection>
    <auth-constraint>
      <role-name>rolpro</role-name>
    </auth-constraint>
  </security-constraint>
  <security-constraint>
    <web-resource-collection>
      <url-pattern>/asignatura</url-pattern>
      <url-pattern>/certificado</url-pattern>
      <http-method>GET</http-method>
      <http-method>POST</http-method>
    </web-resource-collection>
    <auth-constraint>
      <role-name>rolalu</role-name>
    </auth-constraint>
  </security-constraint>
  <servlet>
    <description></description>
    <display-name>log2</display-name>
    <servlet-name>log2</servlet-name>
    <servlet-class>log2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>log2</servlet-name>
    <url-pattern>/log2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>index</display-name>
    <servlet-name>index</servlet-name>
    <servlet-class>index</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>index</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>logout</display-name>
    <servlet-name>logout</servlet-name>
    <servlet-class>logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>asignatura</display-name>
    <servlet-name>asignatura</servlet-name>
    <servlet-class>asignatura</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>asignatura</servlet-name>
    <url-pattern>/asignatura</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>comprobar</display-name>
    <servlet-name>comprobar</servlet-name>
    <servlet-class>comprobar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>comprobar</servlet-name>
    <url-pattern>/comprobar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>certificado</display-name>
    <servlet-name>certificado</servlet-name>
    <servlet-class>certificado</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>certificado</servlet-name>
    <url-pattern>/certificado</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>matricula</display-name>
    <servlet-name>matricula</servlet-name>
    <servlet-class>matricula</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>matricula</servlet-name>
    <url-pattern>/matricula</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>evaluacion</display-name>
    <servlet-name>evaluacion</servlet-name>
    <servlet-class>evaluacion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>evaluacion</servlet-name>
    <url-pattern>/evaluacion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>alumno</display-name>
    <servlet-name>alumno</servlet-name>
    <servlet-class>alumno</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>alumno</servlet-name>
    <url-pattern>/alumno</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>funcion</display-name>
    <servlet-name>funcion</servlet-name>
    <servlet-class>funcion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>funcion</servlet-name>
    <url-pattern>/funcion</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>rutaLog</param-name>
    <param-value>/home/user/logs2.txt</param-value>
  </context-param>
  <context-param>
    <param-name>ramgar</param-name>
    <param-value>23456733H,123456,rolpro</param-value>
  </context-param>
  <context-param>
    <param-name>pedval</param-name>
    <param-value>10293756L,123456,rolpro</param-value>
  </context-param>
  <context-param>
    <param-name>marfer</param-name>
    <param-value>23456387R,123456,rolalu</param-value>
  </context-param>
  <context-param>
    <param-name>manalb</param-name>
    <param-value>06374291A,123456,rolpro</param-value>
  </context-param>
  <context-param>
    <param-name>joafon</param-name>
    <param-value>65748923M,123456,rolpro</param-value>
  </context-param>
  <context-param>
    <param-name>pepgar</param-name>
    <param-value>12345678W,123456,rolalu</param-value>
  </context-param>
  <context-param>
    <param-name>migher</param-name>
    <param-value>34567891F,123456,rolalu</param-value>
  </context-param>
  <context-param>
    <param-name>lauben</param-name>
    <param-value>93847525G,123456,rolalu</param-value>
  </context-param>
  <context-param>
    <param-name>minalo</param-name>
    <param-value>37264096W,123456,rolalu</param-value>
  </context-param>
  <login-config>
    <auth-method>FORM</auth-method>
    <realm-name>Protegido</realm-name>
    <form-login-config>
      <form-login-page>/login.html</form-login-page>
      <form-error-page>/loginError.html</form-error-page>
    </form-login-config>
  </login-config>
</web-app>